<?xml version="1.0" ?>
<!--
Uniforms can be used without placing
them within the definition.

Available Uniforms:

GLSL                HLSL
-----------------------------------
mat4 _WVP;          matrix _WVP;
mat4 _World;        matrix _World;
vec2 _Texture#;     float2 _Texture#;
vec3 _CameraPos;    float3 _CameraPos;
vec4 _Ambient;      float4 _Ambient;
vec4 _Diffuse;      float4 _Diffuse;
vec4 _Specular;     float4 _Specular;
float _SpecComp;    float _SpecComp;
vec4 _LightPos;     float4 _LightPos;
vec4 _LightColor;   float4 _LightColor;
vec4 _LightAttn;    float4 _LightAttn;
-->
<Shaders>

  <Definition FileName="Line"             Name="Line" />
  <Definition FileName="Texture_Lit"      Name="Texture" />
  <Definition FileName="Texture_Lit_Shadow"      Name="Texture_Lit_Shadow" />
  <Definition FileName="RT_Color"         Name="RT_Normal" />
  <Definition FileName="RT_Cube_Depth"    Name="RT_Cube_Depth" />
  <Definition FileName="Sprite"           Name="Sprite" />
  <Definition FileName="Normal_Map"       Name="Normal Map" />
  <Definition FileName="GUI"              Name="GUI" />
  <Definition FileName="GUI_Mesh"         Name="GUI Mesh" />
  <Definition FileName="Color_Only"       Name="Color Only" />
  <Definition FileName="Color_Lit"        Name="Color" />
  <Definition FileName="Color_Lit_Shadow" Name="Color_Lit_Shadow" />
  
</Shaders>