<?xml version="1.0" ?>
<!--
Uniforms can be used without placing
them within the definition.

Available Uniforms:

GLSL                HLSL
-----------------------------------
mat4 _WVP;          matrix _WVP;
mat4 _World;        matrix _World;
vec2 _Texture#;     float2 _Texture#;
vec3 _CameraPos;    float3 _CameraPos;
vec4 _Ambient;      float4 _Ambient;
vec4 _Diffuse;      float4 _Diffuse;
vec4 _Specular;     float4 _Specular;
float _SpecComp;    float _SpecComp;
vec4 _LightPos;     float4 _LightPos;
vec4 _LightColor;   float4 _LightColor;
vec4 _LightAttn;    float4 _LightAttn;
-->
<Shaders>

  <Definition FileName="line"     Name="Line" />
  <Definition FileName="texture"  Name="Texture" />
  <Definition FileName="RTnormal" Name="RT_Normal" />
  <Definition FileName="sprite"   Name="Sprite" />
  <Definition FileName="normmap"  Name="Normal Map" />
  <Definition FileName="gui"      Name="GUI" />
  <Definition FileName="guimesh"  Name="GUI Mesh" />
  <Definition FileName="color"    Name="Color Only" />
  <Definition FileName="colnorm"  Name="Color" />
  
</Shaders>